#root {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #000000;
    margin: 0;
}

.mobile-container {
    width: 100%;
    height: 90%;
    max-width: 700px;
    max-height: 1000px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 2%;
    flex: 1;
}

.go-back-btn {
    background: #eaeaea;
    color: #000000;
}

.menu-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #0056b3;
}

.half-btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2%; /* 버튼 사이 간격 */
    width: 100%;
}

.menu-btn-half {
    display: block;
    width: 50%;
    padding: 15px;
    margin-bottom: 10px; /* 아래 여백 */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.menu-btn-half:hover {
    background-color: #0056b3;
}